{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Fhuad Balogun</h2>
      <h6><span class="text-muted"><a href="https://en.wikipedia.org/wiki/Machine_learning">Machine Learning</a> and <a href="https://en.wikipedia.org/wiki/Data_analysis">Data Analysis</a></span></h6>
      <p class="lead">I enjoy playing with business data to build machine learning models and also try to provide insights from my results. You can checkout some of my past projects from the links to my GitHub below.</p>
    </div>
    <hr class="featurette-divider">
    <div class="col-md-5">
      <img src="{{url_for('static', filename='4CE47D48-1702-49DE-8AD3-F0528FA5DF43.jpg')}}" width="400" height="400">
      <style>
        img {
          border-radius: 50%;
        }
      </style>
    </div>
  </div>
</div>

<h1>Some Past Projects:</h1>
    <ul class="list-group">
          <div class="grid">
            <li class="list-group-item">
                   <img src="{{url_for('static', filename='fhuad_profile.png')}}" width="30" height="30" alt="" />
                   <a href="https://github.com/fhuadeen/TOW-Airbnb-DM">Predictive Model on Airbnb Data</a>
            </li>
          </div>

        <div class="grid">
            <li class="list-group-item">
                   <img src="{{url_for('static', filename='fhuad_profile.png')}}" width="30" height="30" alt="" />
                   <a href="https://github.com/fhuadeen/TOW-Sprocket-Central-Data">Analysing and Building Regression Model for Sprocket Central Ltd</a>
            </li>
          </div>

          <div class="grid">
            <li class="list-group-item">
                   <img src="{{url_for('static', filename='fhuad_profile.png')}}" width="30" height="30" alt="" />
                   <a href="https://github.com/fhuadeen/TOW-Apache-Spam-Assassin-Data">Building a Spam Email Classifier</a>
            </li>
          </div>

          <div class="grid">
            <li class="list-group-item">
                   <img src="{{url_for('static', filename='fhuad_profile.png')}}" width="30" height="30" alt="" />
                   <a href="https://github.com/fhuadeen/TOW-My-Portfolio-Website">My Portfolio Website repository on Github</a>
            </li>
          </div>
          <div class="grid">
            <li class="list-group-item">

            </li>
          </div>
      </ul>

  {% endblock %}
